body {
	font-size: 16px;
	 font-family: "Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
	 background-color: #ccc;

}
body,div,input,p,ul,li,dl,dt,dd,input {
	margin:0;
	padding: 0;
}

.wrapper{
	margin-top: 20px;
	/*padding:0 20px;*/
	background-color: #fafafa;
	padding-bottom:30px;
}
.fl {
	float: left;
}
.fr {
	float:right;
}
.clearfix:after {
  content:'';
  display: block;
  height:0;
  line-height: 0;
  clear: both;
  visibility:hidden;
}
.clearfix {
  zoom:1;
}

body>div {
	width:90%;
	margin:0 auto;
}
.top {
	width:100%;
	height:50px;
	background-color:#f79e4f;
	font-size: 20px;
	color:#fff;
	text-align:center;
	line-height: 50px;
	font-weight: normal;
	letter-spacing: 0.5em;
}
.container {
	width: 100%;
	height: 65vh;
	padding:20px 40px 0 40px;
	box-sizing: border-box;
	padding-bottom:160px;
	overflow-x:scroll; 
	/*overflow-y:hidden; */

}
.container .active {
	background:#aaa;
}

.container .row + row{
	margin-top:-1px;
	
}

.container div.row > div{
	background-color:#fafafa;
}

.container div.row:nth-of-type(2n) > div{
	background-color:#f6f6f6;
}


.container .row div {
	height: 60px;
	line-height: 60px;
	border: 1px solid #ddd;
	text-align:center;
}

.container .row div + div {
	margin-left:-1px;
	
}



.clearfload::after{
	content: "";
	display: block;
	clear:both;
}

.footer {
	background-color:#f79e4f;
	color: #fff;
	line-height: 60px;
	padding:20px 0;
	position:fixed;
	bottom: 30px;
	left:0;
	right:0;
	width:90%;
	margin:auto;
}
.footer .fl {
	position: relative;
	max-width:300px;
	min-width:300px;
}
.footer .fl i {
	position: absolute;
	top: 20px;
	right: 0px;
}
.footer .fl input {
	height:50px;
	color:#000;
	width: 100%;
	display: block;
	margin-top: 5px;
	font-size:14px;
	margin-left:10px;
	z-index: 999;
	padding:5px 10px;
}
.footer .fl input:last-child {
	margin-top: 10px;


}
.footer .fr {
	width: 15%;
	text-align: center;

}
.footer .fr .btn {
	width:80%;
	font-size: 16px;
	color: red;
	height: 60px;
	padding: 5px;
	text-align: left;

}
.footer .fr .btn strong {
	color: #000;
	font-size:30px;
}